.home-container {
    padding-top: 2em;
    height: calc(100em - 70.0625em);
  }
  
  .home-container h1 {
    margin: 0;
  }
  
  .home-content {
    display: flex;
    justify-content: center;
  }
  
  .home-title {
    font-weight: bold;
    font-size: 3em;
    line-height: 1.25em;
    letter-spacing: -0.015em;
    color: var(--dark-color);
    margin-bottom: 0.75em !important;
  }
  
  .home-subtitle {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.25em;
    letter-spacing: -0.015em;
    color: var(--secondary-color);
    margin-bottom: 1em;
  }
  
  .home-btn-order {
    background-color: var(--primary-color);
    border-radius: 10px;
    height: 2.5em;
    width: 10em;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.25em;
    letter-spacing: -0.015em;
    color: #FFF;
  }
  
  .home-btn-order:hover {
    background-color: var(--primary-hover-color);
    /* transform: scale(1.01); */
  }
  
  .home-image svg {
    width: 25em;
  }
  
  @media only screen and (max-width: 768px) {
    .home-container {
      height: auto;
      margin-bottom: 3.125em;
    }
  
    .home-content {
      flex-direction: column-reverse;
    }
  
    .home-title {
      font-size: 2.5em;
    }
    
    .home-subtitle {
      text-align: center;
    }
  
    .home-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .home-image {
      text-align: center;
    }
  
    .home-image svg {
      width: 80%;
    }
  }